<h1>Elimina un post</h1>
<form action ="/delete_post" method="post">
  <br>
  <p> <b style="color:#F12516">Indica el id del post a Eliminar </p></b>
  <input style="border:1 , color:blue"type="text" name="id"><br>
  <center><input type="submit" value="Actualiza el post"></center>
</form>
