
<center><H1 style="color:#FF8000"> Bienvenido a Blog Anonimo </H1></center>

<H2 style="color:#FF8893"> Escribe una entrada:</H1>
<form action ="new_post" method="post">
  <br>
  <p> <b style="color:#F12516"> Escoge un título</p></b>
  <input style="border:1 , color:blue"type="text" name="title"><br>
  <p><b style="color:#F12516">Contenido:</p></b>
  <textarea rows="4" cols="30" type="text" name="description"></textarea><br>
  <p><b style="color:#F12516">Escribe tus tags separados por ,</p></b>
  <input type="text" name="tags">
  <br>
  <br>
  <center><input type="submit" value="Escribir un post"></center>
</form>
