
<ul>
<li><a href="/new_post">Escribe una entrada</a></li>
<li><a href="/all_posts">Todos los post</a>
<li><a href="/update_post">Actualiza algun post</a>
<li><a href="/delete_post">Elimina un post</a>
</ul>
<center><H1 style="color:#FF8000;font-family:verdana"> Bienvenido a Blog Anonimo </H1></center>
<form action ="/find_post" method="post">
  <br>
  <p> <b style="color:#F12516"> Escribe el id del post a buscar: </p></b>
  <input style="border:1 , color:blue"type="text" name="id"><br>
  <center><input type="submit" value="Buscar Post"></center>
</form>


 <form action ="/tag" method="post">
  <br>
  <p> <b style="color:#F12516"> Escoge un título</p></b>
  <input style="border:1 , color:blue"type="text" name="name"><br>
  <center><input type="submit" value="Buscar Post"></center>


</form>
