<h1>Actualiza un post</h1>
<form action ="/update_post" method="post">
  <br>
  <p> <b style="color:#F12516">Indica el id del post que deseas cambiar </p></b>
  <input style="border:1 , color:blue"type="text" name="id"><br>

  <p> <b style="color:#F12516"> Escoge un título</p></b>
  <input style="border:1 , color:blue"type="text" name="title"><br>
  <p><b style="color:#F12516">Contenido:</p></b>
  <textarea rows="4" cols="30" type="text" name="description"></textarea><br>
  <br>
  <br>
  <center><input type="submit" value="Actualiza el post"></center>
</form>
